#grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
    outline: 1px solid red;
    gap: 1px 1px;
    height: 100vh;
    grid-template-areas:
      "header header header header header header"
      ". Search-bar Search-bar Search-bar Search-bar ."
      ". day1 day1 day1 day1 ."
      "Footer Footer Footer Footer Footer Footer";
  }

 @media (min-width: 300px){
  #grid__container{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header "
      "Search-bar "
      "day1 "
      "Footer"
      ;
  }
}

@media (min-width: 500px){
  #grid__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
    gap: 5px 5px;
    height: 100vh;
    grid-template-areas:
      "header header header header header header"
      ". Search-bar Search-bar Search-bar Search-bar ."
      ". day1 day1 day1 day1 ."
      "Footer Footer Footer Footer Footer Footer";
  }
}