#day1 { grid-area: day1; }


#day1 {
  

}
#maincontainer {
display: flex;
padding-top: 5px;
padding-bottom: 5px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;margin-top: 15px;
padding-left: 10px;
}

#num1 {
 flex-grow: 1;
}

#num2 {
flex-grow: 1;
}