@import '../abstracts/_Mixins';

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.3fr 3.2fr 0.2fr;
  gap: 04px 04px;
  grid-template-areas:
    "Header Header Header Header"
    "Search-Bar Search-Bar Search-Bar Search-Bar"
    "WeatherDisplayApp WeatherDisplayApp WeatherDisplayApp WeatherDisplayApp"
    "Footer Footer Footer Footer";
    height: 100vh;
}

#Search-Bar { grid-area: Search-Bar; }
#WeatherDisplayApp { grid-area: WeatherDisplayApp; }
#Footer { grid-area: Footer; }
#Header { grid-area: Header; }


// 320px
@include breakpoint(mobile) {
  #grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.3fr 3.2fr 0.2fr;
    grid-template-areas:
    "Header Header Header Header"
    "Search-Bar"
    "WeatherDisplayApp"
    "Footer"
      ;
  }
}

@include breakpoint(mobile-horizontal) {
  #grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.3fr 3.2fr 0.2fr;
    grid-template-areas:
    "Header Header Header Header"
    "Search-Bar"
    "WeatherDisplayApp "
    "Footer"
      ;
  }
}

// 768px
@include breakpoint(tablet) {
  #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr 3.2fr 0.2fr;
    gap: 04px 04px;
    grid-template-areas:
      "Header Header Header Header"
      "Search-Bar Search-Bar Search-Bar Search-Bar"
      ". WeatherDisplayApp WeatherDisplayApp ."
      "Footer Footer Footer Footer";
      height: 100vh;
  }
}

//1024px
@include breakpoint(tablet-horizontal) {
  #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr 3.2fr 0.2fr;
    gap: 04px 04px;
    grid-template-areas:
      "Header Header Header Header"
      "Search-Bar Search-Bar Search-Bar Search-Bar"
      ". WeatherDisplayApp WeatherDisplayApp ."
      "Footer Footer Footer Footer";
      height: 100vh;
  }
}

//1280px
@include breakpoint(desktop) {
  #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr 3.2fr 0.2fr;
    gap: 04px 04px;
    grid-template-areas:
      "Header Header Header Header"
      "Search-Bar Search-Bar Search-Bar Search-Bar"
      ". WeatherDisplayApp WeatherDisplayApp ."
      "Footer Footer Footer Footer";
      height: 100vh;
  }
}

