@import '../abstracts/_Mixins';

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    height: 10vh;
    width: 100%;

}

#title > p {
    margin-top: 10px;
}